.viewport {
  position: relative;
  height: 100%;
  overflow: scroll;
}

.widgetsWrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tempControls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.canvasWrapper {
  /* cursor: none; */
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  justify-content: center;
  align-items: center;
}

.canvasWrapper:before {
  content: '';
  pointer-events: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: rgba(0,0,0,0.25) 3px 3px 6px;
}

.canvasWrapper:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.canvas, .hiddenCanvas {
  image-rendering: pixelated;
  user-select: none;
}

.canvas {
  position: relative;
  touch-action: none;
  background-image: repeating-conic-gradient(#EEE 0% 25%, white 0% 50%);
  background-size: 16px 16px;
}

.hiddenCanvas {
  display: none;
  /* touch-action: none;
  pointer-events: none;
  position: absolute; */
}

.selectionCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  pointer-events: none;
  position: absolute;
  opacity: 0.5;
  filter: drop-shadow(0 0 1px black);
}