.debugWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.debugInfo {
  display: flex;
  flex-direction: column;
}

.historyItemList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 15rem;
  gap: 1rem;
}

.historyItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  pointer-events: none;
  user-select: none;
  gap: 1px;
}

.currentStep {
  background-color: #b5ddff;
}

.before, .after {
  width: fit-content;
  height: fit-content;
}

:where(.before, .after) canvas {
  max-width: 10rem;
  max-height: 10rem;
  aspect-ratio: auto;
  background-color: white;
}

.before > * {
  border: 1px solid red;
}

.after > * {
  border: 1px solid blue;
}

.unknown {
  width: 10rem;
  background-color: red;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}