.dropdownButton {
  position: relative;
  border: none;
  user-select: none;
  background-color: white;
  font-size: 14px;
  padding: 0.25rem 0.5rem;
  transition: background-color 100ms ease-in-out;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  box-sizing: border-box;
  border: 2px solid lightgray;
  /* box-shadow: rgba(0,0,0,0.15) 0px 3px 16px; */
}

.dropdownMenu > button {
  user-select: none;
  text-align: left;
  border: none;
  padding: 0.5rem 0.5rem;
  transition: background-color 100ms ease-in-out;
}

.dropdownMenu > button:hover {
  background-color: lightgray;
  transition-duration: 0ms;
}

.opened {
  background-color: lightgray;
  transition-duration: 0ms;
}