.langList {
  display: flex;
  flex-direction: column;
}

.langListItem {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.langNameTranslated {
  margin-left: auto;
  opacity: 0.66;
}